/* Login Page Specific Styles */

.github-icon {
  margin-right: 0.5rem;
  height: 1rem;
  width: 1rem;
}

.signup-text {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.forgot-password-link {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.signup-link {
  display: inline;
}
