/* OTP Page Specific Styles */

.otp-input-field {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.1em;
}

.resend-text {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
